<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.js}">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
        <div class="container-fluid d-flex flex-column align-items-end justify-content-end">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav flex-grow-1"></ul>
                <div>
                    <input class="btn btn-warning-light" type="submit" value="Отправка писем родителям" id="showAlert">
                </div>
                <div class="nav-link" th:if="${check==true}">
                    <form th:action="@{/student/debtors}" method="get">
                        <input class="btn btn-bord" type="submit" value="Должники">
                        <input type="hidden" name="group" th:value="${group.idGroup}">
                    </form>
                </div>
                <div class="nav-link">
                    <form th:action="@{/group/index}" method="post">
                        <input class="btn btn-secondary" type="submit" value="Назад">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
</html>