<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.js}">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
        <div class="container-fluid d-flex flex-column align-items-end justify-content-end">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav flex-grow-1"></ul>
                <div class="nav-link">
                    <form th:action="@{/logout}" method="post">
                        <input class="btn btn-secondary" type="submit" value="Выход">
                    </form>
                </div>
                <img th:src="@{/images/mptLogo.png}" alt="" style="width: 7.5%; height: 7.5%"/>
            </div>
        </div>
    </nav>
</header>
<script>
    function updateMarks(obj) {
        const file = obj.value;
        const fileName = file.split("\\");
        document.getElementById("marksBtn").innerHTML = fileName[fileName.length - 1];
        document.marksForm.submit();
        event.preventDefault();
    }
</script>
<script>
    function updateStudents(obj) {
        const file = obj.value;
        const fileName = file.split("\\");
        document.getElementById("studentsBtn").innerHTML = fileName[fileName.length - 1];
        document.studentsForm.submit();
        event.preventDefault();
    }
</script>
<script>
    function updateGroups(obj) {
        const file = obj.value;
        const fileName = file.split("\\");
        document.getElementById("groupsBtn").innerHTML = fileName[fileName.length - 1];
        document.groupsForm.submit();
        event.preventDefault();
    }
</script>
</html>