<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ошибка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/gradient.css}">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.js}">
</head>
<body class="d-flex align-items-center justify-content-center">
<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center pb-5 border border-5 border-primary spec" style="border-radius: 0.5rem;">
        <h1 class="text-primary">Что-то пошло не так</h1>
        <a class="btn btn-dark" href="/main">Назад</a>
    </div>
</div>
</body>
</html>