<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link media="all" rel="stylesheet" th:href="@{/styles/bootstrap.js}">
</head>
<body>
<div class="container-fluid d-flex flex-column align-items-center">
    <img th:src="@{/images/REA.jpg}" alt="" style="margin-top: 40px"/>
    <div class="bg-primary-dark mt-5" style="width: 100%; height: 80px;"></div>
    <div class="flex-column align-content-center">
        <form th:action="@{/login}" method="post" class="form-horizontal align-items-center mt-5 col">
            <h1 class="mt-2 mb-2 text-primary-dark">Личный кабинет</h1>
            <div class="form-group mt-5">
                <input required type="text" class="form-control text-center" name="email" placeholder="Электронная почта">
            </div>
            <div class="form-group mt-2">
                <input required type="password" class="form-control text-center" name="password" placeholder="Пароль">
            </div>
            <div class="error text-danger" th:if="${param.error}">Неверная электронная почта или пароль</div>
            <div class="d-grid gap-2 pt-1">
                <button class="btn btn-primary-dark" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>